{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Iniciar sesión</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sign-in/">

    <!-- Bootstrap core CSS -->
    <link href="static/telas/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/telas/css/signin.css" rel="stylesheet">
  </head>
  <body class="text-center">
    <div class="container mt-5">
      {% if messages %}
        {% for message in messages %}
          <div id="login-error" class="alert alert-danger">{{ message }}</div>
        {% endfor %}
      {% endif %}
      <div class="">
        <form class="form-signin" action="{% url 'login_view' %}" method="post">
          {% csrf_token %}
            <img class="mb-4" src="{% static 'telas/img/logo.jpeg' %}" alt="" width="90" height="72">
            
            <input type="text" name="usuario" class="form-control m-input" value="" placeholder="Usuario">
            <input type="password" name="contrasena" class="form-control m-input" value="" placeholder="Contraseña">
            <button class="btn btn-lg btn-color btn-block" type="submit">Iniciar sesión</button>
        </form>
      </div>
    </div>
    
  </body>
</html>




