*{
    list-style: none;
    text-decoration: none;
}
p{
    text-align: center;
    margin-top:1rem;
}
.div-shadow{
    background-color: #b5834f;
    width: 15.5rem;
    box-shadow: 3px 3px 20px 4px rgba(2, 19, 247, 0.25);
    height: 25rem;
    border-radius: 0.5rem;
    margin-right: 20px;
    margin-top: 20px;
}
.divPrimeros-shadow{
    background-color: #b5834f;
    width: 15.5rem;
    box-shadow: 3px 3px 20px 4px rgba(2, 19, 247, 0.25);
    height: 15.5rem;
    border-radius: 0.5rem;
    margin-right: 20px;
    margin-top: 20px;
}
.div-largo-shadow{
    background-color: #b5834f;
    width: 40rem;
    box-shadow: 3px 3px 20px 4px rgba(2, 19, 247, 0.25);
    height: 12rem;
    border-radius: 0.5rem;
    margin-top: 20px;
    margin-left: 8.5rem;
}
.div-largo2-shadow{
    background-color: #b5834f;
    width: 40rem;
    box-shadow: 3px 3px 20px 4px rgba(2, 19, 247, 0.25);
    height: 12rem;
    border-radius: 0.5rem;
    margin-left: 25.4rem;
    margin-top: -12rem;
}
.list-group-primeros{
    margin-bottom: 1rem;
}
.div-arriba-shadow{
    background-color: #b5834f;
    width: 32rem;
    box-shadow: 3px 3px 20px 4px rgba(2, 19, 247, 0.25);
    height: 15.5rem;
    border-radius: 0.5rem;
    margin-right: 20px;
    display:flex;
    margin-top: 20px;
}
.list-group-i{
    width: 10rem;
    margin-top: 40px;
}
.list-group-ia{
    width: 12.5rem;
    margin-top: 40px;
    float:left;
    margin-right: -50px;
}
.logo-index {
      height: 3rem;
}
.icons{
    margin-left: 5.5rem;
}
.icons-largo{
    margin-left: 2rem;
}
.div2{
    margin-bottom: 3rem;
}
.bienvenido{
    color: #b5834f;
    text-align: center;
    line-height: 500px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
}