{% extends 'base.html' %}

{% block title %}
Ver salidas
{% endblock %}

{% block container %}
<div class="row">
    <h1>Salidas - Estante 01</h1>
    <br>
    <table class="table table-hover table-color table-striped">
        <thead>
            <tr>
                <th class="text-center">Fecha</th>
                <th class="text-center">Nombre</th>
                <th class="text-center">Calidad</th>
                <th class="text-center">Color</th>
                <th class="text-center">Número de rollo</th>
                <th class="text-center">Cantidad</th>
            </tr>
        </thead>
        <tbody>
            {% for salida in salidas %}
                <tr>
                    <td class="text-center">{{salida.fecha}}</td>
                    <td class="text-center">{{salida.nombre}}</td>
                    <td class="text-center">{{salida.calidad}}</td>
                    <td class="text-center">{{salida.color}}</td>
                    <td class="text-center">{{salida.numeroRollo}}</td>
                    <td class="text-center">{{salida.cantidadYarda}}</td>

                </tr>
            {% empty %}
                <tr>
                    <td colspan="10" class="text-danger text-center">No se encontraron resultados</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}